@inherits LayoutComponentBase
@using MicCheck.Web.Services.Interfaces
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @if (AuthenticationService.Token != null)
        {
            <div class="top-row px-4">
                <a href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</a>
                <a href="#" @onclick="() => AuthenticationService.Logout()" class="nav-item nav-link"> Logout</a>
            </div>
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{

}